<h1><%= @shelter.name %></h1>
<h2> Pets </h2>
<% @pets.each do |pet| %>
  <p><%= image_tag(pet.image_path) %></p>
  <p>Name: <%= pet.name %></p>
  <p>Approx age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %><br>
<% end %>

<p><%= link_to 'Add a New Adoptable Pet', "/shelters/#{@shelter.id}/pets/new" %></p>
