<h3>Enter details for a new adoptable pet:</h3>
<%= form_tag("/shelters/#{@shelter.id}/pets") do %>
  <%= label_tag :image_path %><br>
  <%= text_field_tag :image_path %><br><br>
  <%= label_tag :name %><br>
  <%= text_field_tag :name %><br><br>
  <%= label_tag :description %><br>
  <%= text_area_tag :description %><br><br>
  <%= label_tag :approximate_age %><br>
  <%= text_field_tag :approximate_age %><br><br>
  <%= label_tag :sex %><br>
  <%= text_field_tag :sex %><br><br>
  <%= submit_tag "Submit" %>
<% end %>
