<h1> Pets </h1>
<% @pets.each do |pet| %>
  <p><%= image_tag(pet.image_path) %></p>
  <p>Name: <%= pet.name %></p>
  <p>Approx age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter: <%= pet.shelter.name %></p>
<% end %>
