<h1> Pets </h1>
<% @pets.each do |pet| %>
  <p><%= image_tag(pet.image_path) %></p>
  <p>Name: <%= pet.name %></p>
  <p>Approx age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter: <%= pet.shelter.name %></p>
  <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %>
  <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>
<% end %>
